body{
    background-color: gray;
}

header {
  background-color: #222;
  color: white;
  padding: 20px 0;
}

.horizontal-container {
  max-width: 1200px;
  max-height: 20px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s;
}

header nav ul li a:hover {
  color: #ddd;
}

footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
  bottom: 0;
  position: fixed;
  width: 98%;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  gap: 20px; /* spacing between items */
}

.footer-links li {
  cursor: pointer;
}

.container {
  height: 15%;
  width: 40%;
  background-color: gray;
  border: 5px solid white;
  border-radius: 0.5rem;
  margin: 0.5rem;

  flex-direction: column;
  overflow: hidden;
  color: navy;
  padding: 5px;
}

.title{
    text-align: center;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
